<div class="container-fluid noPadding" style="background-color:#e8e8e8">
  <div class="container textstyle">
    <div class="row text-center latestProjects" id="infinite">
      <div class="col-md-4 col-sm-6">

        <p><a href="/view/118">
            <img class="imgsize"
                 src="images/web/uploads/512d957bdd892f6680e3632bd723251d6cda60d3d9c8210ba98e3b4cef3b6a75.jpg"
                 height="217px" width="260px" alt="썸네일">
          </a></p>

        <div id="star">
          <ul id="star0" class="star" title="Rate This!">
            <li id="starCur0" class="curr" title="98" style="width: 68px;"></li>
          </ul>
        </div>

        <p class="p_info1" style="font-size: 13px">블라블라앤베이비</p>

        <p class="p_info1" style="font-size: 8px; height: 80px; cursor: pointer"
           onclick="location.href='/view/118'"><strong>바이올렛 물티슈 20매 (휴대용)</strong></p>

        <p class="p_info2"><a href="/user/5" style="font-size: 16px">이아진</a></p>

        <p class="p_info3" style="margin-bottom:40px">
          <img src="/static/image/ico_like.png" style="width:12px">0
          <img src="/static/image/ico_reply.png" style="width:13px">0
          <img src="/static/image/ico_view.png" style="width:20px">2</p>

      </div>
    </div>
  </div>
</div>

