<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <div class="row">
    <h1><%= title %></h1>

    <form action="/admin/login" method="post">
      <table width="400" class="table">
        <tr>
          <th>아이디</th>
          <td><input type="text" id="id" name="id" size="20" maxlength="20" class="form-control"/>
          </td>
        </tr>
        <tr>
          <th>비밀번호</th>
          <td><input type="password" id="passwd" name="passwd" size="12" maxlength="12"
                     class="form-control"/></td>
        </tr>
        <tr>
          <td colspan="2">
            <input type="submit" value="로그인" class="btn btn-primary"/>
            <input type="reset" value="취소" class="btn btn-warning"/>
          </td>
        </tr>

      </table>
    </form>
  </div>
</div>
</body>
</html>
